{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3 p-2 card card-personal back-ground">
            <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'img/404.png' %}{% endif %}">
        </div>

        <div class="col-md-6">
            <div class="col-12 card">
                <div class="p-3">
                    <h4>{{ product.name }}</h4>
                    <a class=" " href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                    <h5 class=""> R$ {{ product.price }}</h5>
                </div>
                <div>
                    <form action='{% url "cart:cart_add" product.id %}' method="POST">
                        <div class="col-12">
                            <div class="form-group">
                                {{ cart_product_form|crispy }}
                                {% csrf_token %}
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <input type="submit" class="col-sm-4 col-12 form-control btn-success" value="Adicionar" >
                        </div>
                    </form>
                </div>
                <hr>
                <div class="col-md-10">
                    <div class="">
                        <h6>Descrição</h6>
                        <p>
                            {{ product.description|linebreaks }}
                        </p>
                    </div>
                    <div class="ingredient-list">
                        <h6>Receita</h6>
                        {{revenue}}
                        {% for item in item_ingredient %}
                            <p>{{item.item}} quantidade {{item.quantity}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}