{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6  card card-personal  bg-dark">
                <img class="img-fluid " src="{% if product.image %}{{ product.image.url }}{% else %}
                        {% static " img/ze.png" %}{% endif %}">
            </div>
        
            <div class="col-md-6 card card-personal  bg-dark">
                <h3>{{ product.name }}</h3>
                <a class=" " href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
                <h5 class=""> R$ {{ product.price }}</h5>
                <form action="{% url "cart:cart_add" product.id %}" method="POST">
                    <div class="form-group">
                        {{ cart_product_form|crispy }}
                        {% csrf_token %}
                    </div>
                    <input type="submit" class="form-control" value="Adicionar {{product.name}}">
                </form>
            
                <div class="col-md-12" >
                    <div class="p-1">
                        <p>
                            {{ product.description|linebreaks }}
                        </p>
                    </div>
                 
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}