{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Produtos{% endif %}
{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row back-ground">
        <div class="row col-12 d-flex justify-content-center align-items-center p-2">
            <div>
                <h6 class="d-inline">Categorias:</h3>
            </div>
            <div class="text-white">
                <ul class="nav text-white">
                    <li {% if not category %} class="nav-item" {% endif %}>
                        <a class="nav-link active" href="{% url 'menu:product_list' %}">Todos</a>
                    </li>
                    {% for c in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ c.get_absolute_url }}">{{c.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <h5 class="text-white">
        {% if category %}
        {{ category.name }}
        {% else %}
        Todos os produtos
        {% endif %}
    </h5>

    <div class="row mb-5">
       
        {% for product in products %}

        <div class="col-sm-4 card booking-card">
            <!-- Card image -->
            <div class="view overlay">
                <a href="{{ product.get_absolute_url }}">
                    <img class="card-img-top img-fluid"
                        src=" {% if product.image %}{{ product.image.url }} {% else %} {% static "
                        img/ze.png" %} {% endif %}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <a class="card-meta" href="{{ product.get_absolute_url }}">
                    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                </a>

                <div>
                    <h6 class="d-inline mb-2">
                        R$ {{ product.price }} - <h6 class="d-inline text-success">Disponível</h6>
                    </h6>
                </div>
            
                {% if product.description %}
                <p class="card-text"> {{ product.description|truncatewords:17|linebreaks}} </p>
                {% endif %}
                <a class="" href="{{ product.get_absolute_url }}">
                    <input type="button" class="btn btn-success btn-block" value="Adicionar">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}