{% extends "base.html" %}
{% load static %}
{% block title %}
        {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="row">
         <div class="col-md-12">
         
            <ul class="nav nav-tabs">
                <li class="nav-item" {% if not category %} class="selected" {% endif %}>
                    <a class="nav-link active white-text" href="{% url "product_list" %}">All</a>
                </li>

                {% for c in categories %}
                    <li class="nav-item" {% if category.slug == c.slug %} class="selected" {% endif %}>
                        <a class="nav-link white-text" href="{{ c.get_absolute_url }}"><p>{{c.name}}</p></a>
                    </li>
                
                {% endfor %}
            </ul>
          </div>
    
            <h1>
                {% if category %}{{ category.name }}{% else %} Products
                {% endif %}
            </h1>

            {% for product in products %}
                <div class="col-6 card card-personal mb-2">
                    <div class="view card-title">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="img-fluid card-img-top" 
                                src=" {% if product.image %}{{ product.image.url }} {% else %} {% static "img/feijãotropero.png" %} {% endif %}">
                        </a>
                    </div>
                    <a class="btn btn-outline-white btn-md waves-effect card-meta" href="{{ product.get_absolute_url }}">
                        <h4 class="card-title white-text">{{ product.name }}</h4></a>
                    <br>
                    <h6 class="card-title"> {{ product.price }} </h6> 
                   
                </div>
            {% endfor %}
     

    </div>
{% endblock %}