{% load site_tags %}
{% load static %}

<nav class="navbar navbar-expand-lg  bg-dark navbar-dark">
  <a class="navbar-brand pd-5" href="/">{% name_site %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        
     
      {% if not total_items %}
        <a class="nav-link active" href="{% url "cart:cart_detail" %}">Seu lanches:
          {% with total_items=cart|length %}
          {% if total_items > 0 %}
              {{ total_items }} item{{ total_items|pluralize }}, R${{ cart.get_total_price }}
          {% endif %}
          {% endwith %}
      </a>
     {% endif %}
      </ul>
      <form class="form-inline my-lg-0 p-1">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
      
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'account:profile-detail-view' request.user %}"> <h1><h3> {{request.user}}</h3> </h1></a>  
     {% else %}
        <h3><a href="{% url 'account:login'%}">Login</a></p1></h3>
     {% endif %}
    </div>
  </nav>