a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

p {
    font-size: 12;
}

body{
    color: rgb(255, 255, 255);
    background: #000000;
}
.product-img{
    width: 300px;
    height: 300px;
}