{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    <div class="row back-ground">
        <div class="col-md-6 offset-md-3 mt-2 ">
            <div class="card  auth-card back-ground">
                <h4 class="card-title text-center">Registrar</h4>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
            
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary btn-block mt-2">Entrar</button>
                    </form>
                    <div class=" mt-2 text-right">
                        <p class="change-form-p text-righ "> Ja ter um login? <a href="{% url 'account:login'%}"><button class="btn btn-primary">Clique aqui!</button></a></p>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
{% endblock %}

